{namespace error}

/**
 * @param message
 * @param error
 */
{template .error}
<!DOCTYPE html>
<html>
  <head>
    <title>Error Page</title>
  </head>
  <body>
    <h1>An error Has occurred </h1>
    <p>Message: {$message}</p>
    <p>Error: {$error}</p>
  </body>
</html>
{/template}